@model WebApplicationTest.DTOs.CategoryDto

@{
    ViewData["Title"] = "Category Details";
}

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>@Model.Name</h2>
            <p>Category Details</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h4>Name</h4>
                <p>@Model.Name</p>
            </div>
            <div class="col-lg-6">
                <h4>Image</h4>
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <img src="@Model.Image" alt="@Model.Name" style="max-width: 200px;" />
                }
                else
                {
                    <span>No image available.</span>
                }
            </div>
            <div class="col-lg-12">
                <h4>Sub Categories</h4>
                <ul>
                    @foreach (var subCategory in Model.SubCategories)
                    {
                        <li>@subCategory.Name</li>
                    }
                </ul>
            </div>
            <div class="col-lg-12">
                <h4>Products</h4>
                <ul>
                    @foreach (var product in Model.Products)
                    {
                        <li>@product.Name</li>
                    }
                </ul>
            </div>
            <div class="col-lg-12 mt-4">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</section>